.react-chatbot-kit-user-avatar-icon {
  width: 50px;
}
.mainbody {
  
  overflow: hidden;
 
}
.chatbutton {
  padding: 10px;  
  margin-left: 30px;
  margin-top: 10vh;
  color: white;
  background-color: blue;
  font-size: 2vw;
  justify-content: right;
}
